// .advantages__maintitle {
// 	position: relative;
// 	&::after {
// 		content: "";
// 		position: absolute;
// 		width: 141px;
// 		height: 40px;
// 		background-image: url("../img/question-text.svg");
// 		background-repeat: no-repeat;
// 		background-size: contain;
// 		left: 100%;
// 		top: 0;
// 	}
// }

.advantages {
	position: relative;
	padding-top: 120px;
	padding-bottom: 120px;
	border-radius: 120px 120px 0 0;
	background-color: var(--color-body);

	@media(max-width: 767px) {
		padding-top: 48px;
		padding-bottom: 48px;
		border-radius: 40px 40px 0 0;
	}

	.section__title {
		img {
			@media(max-width: 767px) {
				display: none;
			}
		}
	}
}

.advantages__wrap {
	overflow: visible;

	.swiper-wrapper {


		@media(min-width: 768px) {
			position: relative;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 16px;
			align-items: flex-start;

			&__item {
				border-radius: 32px;
				background-color: #fff;
				padding: 24px;
			}


		}

		@media(max-width: 1350px) {
			grid-template-columns: 1fr 1fr;
		}

		&::before {
			content: "";
			position: absolute;
			bottom: 100%;
			right: 50px;
			width: 66px;
			height: 94px;
			background-image: url("../img/bird.svg");

			@media(max-width: 767px) {
				display: none;
			}
		}
	}


}

.advantages__head {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;

	@media(max-width: 767px) {
		flex-direction: column-reverse;
	}
}

.advantages__item {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 100px;
	background-color: #fff;
	border-radius: 32px;
	padding: 24px;
	height: auto;

	&:nth-child(2),
	&:nth-child(7) {
		height: 400px;

		@media(max-width: 767px) {
			// display: none;
		}
	}

	@media(max-width: 767px) {
		width: 100%;
		gap: 24px;
		height: 270px !important;
	}
	&--pic {
		padding: 0;
	}
}

.advantages__pic {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 32px;
	@media(max-width: 767px) {
		position: static;
	}
}

.advantages__title {
	font-size: 22px;
	font-weight: 700;
	color: var(--color-blue);
	text-transform: uppercase;

	@media(max-width: 767px) {
		font-size: 16px;
	}
}

.advantages__list {
	margin-top: auto;
}

.advantages__icn {
	width: 40px;

	@media(max-width: 767px) {
		order: 1;
	}
}