.advantages__wrap {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 16px;
	align-items: flex-start;

	&__item {
		border-radius: 32px;
		background-color: #fff;
		padding: 24px;
	}

	&::before {
		content: "";
		position: absolute;
		bottom: 100%;
		right: 50px;
		width: 66px;
		height: 94px;
		background-image: url("../img/bird.svg");

		@media(max-width: 767px) {
			display: none;
		}
	}

	@media(max-width: 767px) {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}

.advantages__head {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	@media(max-width: 767px) {
		flex-direction: row;
		justify-content: space-between;
	}
}

.advantages__item {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 100px;
	background-color: #fff;
	border-radius: 32px;
	padding: 24px;

	&:nth-child(2),
	&:nth-child(7) {
		height: 400px;

		@media(max-width: 767px) {
			display: none;
		}
	}

	@media(max-width: 767px) {
		width: 100%;
		gap: 24px;
	}
}

.advantages__pic {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 32px;
}

.advantages__title {
	font-size: 22px;
	font-weight: 700;
	color: var(--color-blue);
	text-transform: uppercase;

	@media(max-width: 767px) {
		font-size: 16px;
	}
}

.advantages__list {
	margin-top: auto;
	font-size: 18px;

	li {
		display: flex;
		// align-items: center;
		gap: 8px;

		&:not(:last-child) {
			margin-bottom: 6px;
		}

		&::before {
			content: "";
			background-image: url("../img/list-dot.svg");
			background-repeat: no-repeat;
			max-width: 16px;
			flex: 1 0 16px;
			height: 16px;
		}
	}

	@media(max-width: 767px) {
		font-size: 16px;
	}
}

.advantages__icn {
	width: 40px;
	@media(max-width: 767px) {
		order: 1;
	}
}