.article {
	display: grid;
	grid-template-columns: 1fr 308px;
	gap: 32px;
	color: var(--color-blue);
	align-items: flex-start;

	@media(max-width: 1023px) {
		display: flex;
		flex-direction: column-reverse;
	}
}

.article__wrap {
	p {
		font-size: 18px;
		line-height: 1.2;
		margin-bottom: 16px;

		@media(max-width: 1023px) {
			font-size: 16px;
		}
	}

	ul {
		margin-bottom: 16px;
		color: var(--color-blue);
	}

	.h4 {
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 16px;

		@media(max-width: 1023px) {
			font-size: 16px;
		}
	}
}

.article__title {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--color-blue);
	margin-bottom: 32px;

	@media(max-width: 1023px) {
		font-size: 24px;
		margin-bottom: 20px;
	}
}

.article__block {
	padding: 48px 0;
	border-bottom: 1px solid var(--color-light-blue);

	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}

	&:not(:last-child) {
		// margin-bottom: 48px;
	}

	&--main {
		max-width: 632px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-top: 0;

		.article__title {
			@media(max-width: 1023px) {
				font-size: 26px;
				display: none;
			}
		}
	}

	@media(max-width: 1023px) {
		padding: 32px 0;
		// padding-bottom: 32px;
	}
}

.article__block.article__block--main.--mode {
	max-width: 100%;
}

.article__date {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;

	@media(max-width: 1023px) {
		display: flex;
		flex-direction: column;
	}

	span {
		font-size: 22px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.article__date-item {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.article__block-address-head {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 24px;

	@media(max-width: 1023px) {
		display: flex;
		flex-direction: column;
	}

	span {
		font-size: 22px;
		font-weight: 600;
		color: var(--color-light-blue);

		@media(max-width: 1023px) {
			font-size: 20px;
		}
	}
}

.article__block-address-col {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.article__block-contacts {
	display: grid;
	grid-template-columns: 1fr 1fr;

	@media(max-width: 1023px) {
		display: flex;
		flex-direction: column;
	}

	span {
		font-size: 22px;
		font-weight: 600;
		color: var(--color-light-blue);
		text-transform: uppercase;
		margin-bottom: 8px;

		@media(max-width: 1023px) {
			font-size: 20px;
		}
	}
}

.article__block-contacts-col {
	display: flex;
	flex-direction: column;
}

.article__awards-block {
	display: flex;
	flex-direction: column;

	span {
		font-weight: 600;
	}

	&:not(:last-child) {
		margin-bottom: 24px;
	}
}

.article__descr {
	position: relative;
	display: flex;
	justify-content: space-between;
	border-radius: 24px;
	background-color: #fff;
	padding: 24px;
	width: 100%;
	margin-bottom: 32px;

	@media(max-width: 767px) {
		flex-direction: column;
	}

	&::before {
		content: "";
		position: absolute;
		bottom: 100%;
		right: 50px;
		width: 66px;
		height: 94px;
		background-image: url(../img/bird.svg);
		@media(max-width: 767px) {
			display: none;
		}
	}
}

.article__descr-col {
	display: flex;
	flex-direction: column;
	gap: 8px;

	span {
		&:first-child {
			font-size: 18px;
			font-weight: 500;
			color: var(--color-light-blue);
		}

		&:last-child {
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			color: var(--color-blue);
		}
	}
}

.article__white-block {
	background-color: #fff;
	padding: 24px;
	border-radius: 24px;
}