.banner {
	position: relative;
	height: 640px;
	border-radius: 40px;

	h1 {
		position: relative;
		font-size: 44px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		padding-top: 32px;
		color: #fff;
		z-index: 1;
	}

	&__thumb {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		background-color: rgba(4, 4, 4, 0.2);
		backdrop-filter: blur(100px);
		padding: 16px;
		border-radius: 32px;
		position: absolute;
		bottom: 8px;
		right: 8px;
		color: #fff;
		width: 302px;
	}
}