*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: var(--color-black, #000000);
  font-family: Jost, 'sans-serif';
  background-color: #F0EFE9;
  line-height: 1.2;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.container {
  max-width: calc(1280px + 32px);
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}