.directions {
	background-color: var(--color-blue);
	padding-bottom: 240px;
	margin-bottom: 0;
	@media(max-width: 767px) {
		padding-bottom: 100px;
	}
}

.directions-slider {
	margin-bottom: 120px;

	.swiper-wrapper {
		@media(min-width: 768px) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 16px;

		}

	}

	@media(max-width: 767px) {
		margin-bottom: 68px;
	}
}

.directions__item {
	border-radius: 32px;
	padding: 8px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;

	&:hover {
		.directions__pic {
			img {
				transform: scale(1.1);
				transition: 0.3s all;
			}

			.btn {
				bottom: 8px;
				transition: 0.3s ease;
			}
		}
	}
}

.directions__aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 18px;

	@media(max-width: 767px) {
		padding: 8px;
	}
}

.directions__pic {
	position: relative;
	overflow: hidden;
	flex: 1 0 192px;
	max-width: 192px;
	border-radius: 24px;

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.btn {
		position: absolute;
		bottom: 0;
		width: calc(100% - 16px);
		left: 50%;
		transform: translateX(-50%);
		bottom: -90%;
		transition: 0.3s ease;
		gap: 8px;
	}

	@media(max-width: 767px) {
		flex: 1 0 152px;
		max-width: 152px;
	}
}

.directions__head {
	display: flex;
	flex-direction: column;
	gap: 8px;
	color: var(--color-light-blue);
	font-size: 14px;
	font-weight: 500;

	@media(max-width: 767px) {
		font-size: 12px;
	}
}

.directions__title {
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--color-blue);

	@media(max-width: 767px) {
		font-size: 16px;
	}
}

// .directions__sort {
// 	display: flex;
// 	flex-wrap: wrap;
// 	gap: 16px 24px;
// 	margin-bottom: 64px;
// }

// .directions__teg {
// 	padding: 16px 24px;
// 	border: 1px solid var(--color-blue);
// 	border-radius: 12px;
// 	font-size: 18px;
// 	font-weight: 500;
// 	color: var(--color-blue);
// 	&:not(.active) {
// 		cursor: pointer;
// 	}

// 	&.active {
// 		background-color: var(--color-blue);
// 		color: #fff;
// 	}
// }