.gallery-block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 16px;

	&__title {
		margin-bottom: 110px;
	}

	@media(max-width: 767px) {
		grid-template-columns: 1fr 1fr;
		gap: 8px;
	}
}

.gallery-block__pic {
	border-radius: 32px;

	&:nth-child(2),
	&:nth-child(4),
	&:nth-child(6),
	&:nth-child(8),
	&:nth-child(10),
	&:nth-child(12) {
		margin-top: -40px;

		@media(max-width: 767px) {
			margin-top: -16px;
		}
	}
}

.gallery-block__title {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: calc(100% + 12px);
		left: 50%;
		transform: translateX(-50%);
		background-image: url("../img/txt-gallery.svg");
		width: 106px;
		height: 40px;
		background-size: contain;
		background-repeat: no-repeat;
		@media(max-width: 767px) {
			width: 66px;
			height: 27px;
		}
	}
}