.information__wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
	margin-bottom: 24px;

	@media(max-width: 1280px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media(max-width: 1023px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media(max-width: 767px) {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}

.information__icn {
	width: 40px;
}

.information__item {
	position: relative;
	border-radius: 32px;
	padding: 24px;
	padding-right: 48px;
	background-color: #fff;
	min-height: 210px;
	display: flex;
	flex-direction: column;
	background-image: url("../../img/arrow-right-btn.svg");
	background-repeat: no-repeat;
	background-position: right 24px bottom 24px;
	background-size: 24px auto;

	p {
		font-size: 22px;
		font-weight: 600;
		text-transform: uppercase;
		color: var(--color-blue);
		margin-top: auto;

		@media(max-width: 767px) {
			font-size: 16px;
		}
	}

	@media(max-width: 767px) {
		min-height: 136px;
	}
}