.menu {
	position: relative;
	display: flex;
	// display: none;
	justify-content: space-between;
	width: 100%;

	a {
		color: var(--color-blue);
	}
	&__close {
		position: absolute;
		width: 40px;
		height: 40px;
		right: 16px;
		top: 16px;
		display: block;
		@media(min-width: 768px) {
			display: none;
		}
	}

	@media(max-width: 767px) {
		position: absolute;
		opacity: 0;
		display: flex;
		z-index: -1;
		visibility: hidden;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: 0;
		border-radius: 40px 0 0 40px;
		background-color: #fff;
		padding-top: 64px;
		padding-left: 28px;
		width: auto;
		height: 100%;
		overflow-y: scroll;
		padding-bottom: 56px;
		transform: translateX(100%);
		transition: all 0.3s ease;
	}
	

	&.active {
		opacity: 1;
		z-index: 100;
		visibility: visible;
		transition: all 0.3s ease;
		transform: translate(0);
	}
}

.menu__item {
	position: relative;
	display: flex;
	align-items: center;

	&>a {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: 500;
		padding: 0 12px;
		gap: 4px;
	}

	&:hover {
		&>a {
			color: var(--color-pink);
		}

		@media(min-width: 768px) {
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: var(--color-pink);
			}
		}


		svg {
			transform: rotate(180deg);

			path {
				stroke: var(--color-pink);
			}
		}

		.submenu {
			display: flex;
		}
	}

	&>a {
		display: flex;
		align-items: center;
		font-size: 14px;
		text-transform: uppercase;
		min-height: 63px;
		@media(max-width: 767px) {
			font-size: 16px;
			padding: 0;
			min-height: 51px;
		}
	}
	@media(max-width: 767px) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}

.submenu {
	display: none;
	position: absolute;
	padding-top: 10px;
	top: 100%;
	left: 0;
	z-index: 100;
	@media(max-width: 767px) {
		position: static;
		padding-top: 0;
	}
}

.submenu__links {
	background-color: #fff;
	border-radius: 24px;
	min-width: 190px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	@media(max-width: 767px) {
		padding: 0;
	}
}

.submenu__item {
	font-size: 18px;
	white-space: nowrap;

	&:hover {
		color: var(--color-pink);
		text-decoration: underline;
	}
	@media(max-width: 767px) {
		font-size: 16px;
	}
}

.menu__contacts {
	// display: flex;
	display: none;
	flex-wrap: wrap;
	gap: 16px 8px;
	width: 280px;
	margin-top: 24px;
	a {
		display: flex;
		align-items: center;
	}
	@media(max-width: 767px) {
		display: flex;
	}
}

.menu__contacts-tg {
	border-radius: 12px;
	border: 1px solid var(--color-light-blue);
	padding: 0 12px;
	gap: 6px;
}

.menu__contacts-phone {
	font-size: 24px;
	font-weight: 500;
}

.menu__contacts-mail {
	font-size: 18px;
	font-weight: 500;
}