.post {
	max-width: 850px;
	width: 100%;
	p {
		font-size: 18px;
		margin-bottom: 20px;
		color: #252932;
		line-height: 1.2;
	}
	h3, h4, h5 {
		color: var(--color-blue);
		font-weight: 600;
		margin-bottom: 12px;
		text-transform: uppercase;
	}
	h3 {
		font-size: 22px;
	}
	h4 {
		font-size: 18px;
	}
	img {
		min-height: 450px;
		border-radius: 24px;
		margin-bottom: 20px;
	}
	ul {
		margin-bottom: 20px;
	}
}