.swiper-nav {
	position: relative;
	display: flex;
	align-items: center;
	gap: 16px;
}

.swiper-button-next,
.swiper-button-prev {
	// cursor: pointer;
}

.swiper--scroll {
	// overflow: visible;
	padding-bottom: 30px;


}


.swiper-scrollbar {
	background-color: transparent;
}

.swiper-scrollbar-drag {
	height: 8px;
	border-radius: 24px;
	background-color: #B5C2E4;
}

.swiper-scrollbar {
	@media(max-width: 767px) {
		display: none;
	}
}

.swiper-about__nav {
	position: absolute;
	top: 50%;
	padding: 0 24px;
	transform: translateY(-50%);
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 0;
	z-index: 1;
}

.swiper-button-prev,
.swiper-button-next {
	position: static;
	width: 56px;
	height: 56px;
	margin: 0;

	&:after {
		display: none;
	}
}