.video {
	.section__title {
		display: flex;
		align-items: center;

		img {
			margin-left: auto;

			@media(max-width: 767px) {
				display: none;
			}
		}
	}
}

.video__wrap {
	width: 100%;
	height: 640px;
	border-radius: 40px;
	overflow: hidden;
	@media(max-width: 767px) {
		height: 270px;
	}
}