section.section.advantages
	.container 
		include reviews
		.section__head
			h2.section__title Почему <span class="blue">родители</span> <img src="img/question-text.svg"> <br> <span class="blue">и дети</span> выбирают нас
		.swiper.advantages__wrap#swiper-advantages
			.swiper-wrapper
				.swiper-slide.advantages__item
					.advantages__head
						img.advantages__icn(src="img/a-icn1.svg" alt="")
						h3.advantages__title Много-профильность
					ul.list-blue.advantages__list
						li 5 направленностей
						li 141 творческое объединение
				.swiper-slide.advantages__item.advantages__item--pic
					img(src="img/a1.webp" alt="").advantages__pic
				.swiper-slide.advantages__item
					.advantages__head
						img.advantages__icn(src="img/a-icn2.svg" alt="")
						h3.advantages__title Психологическое сопровождение дополнительного образования
					ul.list-blue.advantages__list
						li Сопровождение учебно-воспитательного процесса
						li Консультирование
				.swiper-slide.advantages__item
					.advantages__head
						img.advantages__icn(src="img/a-icn3.svg" alt="")
						h3.advantages__title Работа с детьми с ограниченными возможностями
					ul.list-blue.advantages__list
						li Инклюзивное образование
						li Клубы для детей, перенесших онкологические заболевания
						li Клубы для семей с детьми с наруением развития
				.swiper-slide.advantages__item
					.advantages__head
						img.advantages__icn(src="img/a-icn4.svg" alt="")
						h3.advantages__title Работа с семьёй
					ul.list-blue.advantages__list
						li Клубы семейного досуга, туризма и другие
						li Совместное обучение с родителями
						li Психологическое консультирование
				.swiper-slide.advantages__item
					.advantages__head
						img.advantages__icn(src="img/a-icn5.svg" alt="")
						h3.advantages__title Повышение квалификации педагогов
					ul.list-blue.advantages__list
						li Курсы при ИДПО для административных и педагогических кадров
				.swiper-slide.advantages__item.advantages__item--pic
					img(src="img/a2.webp" alt="").advantages__pic
				.swiper-slide.advantages__item
					.advantages__head
						img.advantages__icn(src="img/a-icn6.svg" alt="")
						h3.advantages__title Прогргаммно-метoдическое обучение
					ul.list-blue.advantages__list
						li 199 дополнительных общеразвивающих программ, 17 авторских, 12 лауреатов конкурсов, патенты на изобретение

			