.block-action.block-actionA
	h2.section__title.block-action__title Набор учеников <br> на новый учебный <br> 2024-2025год
	.block-action__subtitle.block-actionA__subtitle 
		p Запись на 1 год обучения будет <br> осуществляется с 19 августа по 5 сентября <br> на портале &nbsp;
			a(href="https://www.mos.ru/" target="_blank") mos.ru 
	a.btn.btn--circle.btn--a(href="") Записаться через портал
		include ../svg/arrow-circle