section.section
	.container 
		.block-action.block-actionB
			h2.section__title.block-action__title Развитие <br> профессиональных <br> навыков
			.block-action__subtitle.block-actionB__subtitle 
				p Прокачайте навыки и станьте лучшим! Разнообразные <br> курсы, семинары и образовательные программы для <br>вашего профессионального роста. 
				p Регистрируйтесь сейчас и участвуйте в мероприятиях, <br> которые изменят вашу педагогическую практику.
			a.btn.btn--d.btn--circle(href="about.html") Узнать подробнее
				include ../svg/arrow-circle