section.section.clubs
	.container
		.section__head
			h2.section__title.section__title--white.animate
				|  Наши клубы
				.animate-icn 
					img(src="img/slide-pic-text.svg", alt="")
			.swiper-nav.clubs-slider__nav
				.swiper-button-prev
					include ../svg/arrow-prev
				.swiper-button-next
					include ../svg/arrow-next
		.swiper.swiper--scroll.clubs-slider
			.swiper-wrapper
				.swiper-slide.clubs__item
					span.clubs__date 6-18 лет
					h3.clubs__title Дискуссионный киноклуб «ОТРАЖЕНИЕ»
					.clubs__text 
						p Здесь небольшое описание клубы в 4-8 строчек
					a.btn.btn--a.btn--circle.showModal2 Записатсья в клуб
						include ../svg/arrow-circle
				.swiper-slide.clubs__item
					span.clubs__date 6-18 лет
					h3.clubs__title Семейный клуб “ЭРУДИТ”
					.clubs__text 
						p Здесь небольшое описание клубы в 4-8 строчек
					a.btn.btn--a.btn--circle.showModal2 Записатсья в клуб
						include ../svg/arrow-circle
				.swiper-slide.clubs__item
					span.clubs__date 6-18 лет
					h3.clubs__title клуб СЕМЕЙНОГО ТУРИЗМА “НОРД”
					.clubs__text 
						p Здесь небольшое описание клубы в 4-8 строчек
					a.btn.btn--a.btn--circle.showModal2 Записатсья в клуб
						include ../svg/arrow-circle
				.swiper-slide.clubs__item
					span.clubs__date 6-18 лет
					h3.clubs__title Клуб “ХОРОШАЯ СРЕДА”
					.clubs__text 
						p Здесь небольшое описание клубы в 4-8 строчек
					a.btn.btn--a.btn--circle.showModal2 Записатсья в клуб
						include ../svg/arrow-circle
				.swiper-slide.clubs__item
					span.clubs__date 6-18 лет
					h3.clubs__title Дискуссионный киноклуб «ОТРАЖЕНИЕ»
					.clubs__text 
						p Здесь небольшое описание клубы в 4-8 строчек
					a.btn.btn--a.btn--circle.showModal2 Записатсья в клуб
						include ../svg/arrow-circle
			.swiper-pagination
			.swiper-scrollbar
