section.section.directions
	.container 
		h2.section__title.section__title--white 
			span.animate
				| Наши направления
				.animate-icn
					img(src="img/slide-pic.svg" alt="")
		.swiper.directions-slider
			.swiper-wrapper
				.swiper-slide.directions__item
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title Хoреография и театр
					.directions__pic
						img(src="img/directions/d1.webp" alt="")
						a(href="obedineniya.html").btn.btn--c.btn--circle Подробнее
							include ../svg/arrow-circle
				.swiper-slide.directions__item
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title Наука и техника
					.directions__pic
						img(src="img/directions/d2.webp" alt="")
						a(href="obedineniya.html").btn.btn--c.btn--circle Подробнее
							include ../svg/arrow-circle
				.swiper-slide.directions__item
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title Музыка и вокал
					.directions__pic
						img(src="img/directions/d3.webp" alt="")
						a(href="obedineniya.html").btn.btn--c.btn--circle Подробнее
							include ../svg/arrow-circle
				.swiper-slide.directions__item
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title Спорт и туризм
					.directions__pic
						img(src="img/directions/d4.webp" alt="")
						a(href="obedineniya.html").btn.btn--c.btn--circle Подробнее
							include ../svg/arrow-circle
				.swiper-slide.directions__item
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title Дошколь-никам
					.directions__pic
						img(src="img/directions/d5.webp" alt="")
						a(href="obedineniya.html").btn.btn--c.btn--circle Подробнее
							include ../svg/arrow-circle
				.swiper-slide.directions__item
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title Изо студии
					.directions__pic
						img(src="img/directions/d6.webp" alt="")
						a(href="obedineniya.html").btn.btn--c.btn--circle Подробнее
							include ../svg/arrow-circle
				.swiper-slide.directions__item
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title Декоро-тивное творчество
					.directions__pic
						img(src="img/directions/d7.webp" alt="")
						a(href="obedineniya.html").btn.btn--c.btn--circle Подробнее
							include ../svg/arrow-circle
				.swiper-slide.directions__item
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title Язык и культура
					.directions__pic
						img(src="img/directions/d8.webp" alt="")
						a(href="obedineniya.html").btn.btn--c.btn--circle Подробнее
							include ../svg/arrow-circle
				.swiper-slide.directions__item
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title От 18 и старше
					.directions__pic
						img(src="img/directions/d9.webp" alt="")
						a(href="obedineniya.html").btn.btn--c.btn--circle Подробнее
							include ../svg/arrow-circle

		include clubs

		include block-actionA