section.section.directions.--r120.--r120-white
	.container 
		h2.section__title.section__title--white 
			span.animate
				| Наши направления
				.animate-icn
					img(src="img/tudasuda.gif", alt="")
		.swiper.directions-slider
			.swiper-wrapper
				a.swiper-slide.directions__item(href="")
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title Хoреография и театр
					.directions__pic
						img(src="../img/directions/d1.webp" alt="")
						button.btn.btn--c.btn--circle Записаться
							include ../svg/arrow-circle
				a.swiper-slide.directions__item(href="")
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title Наука и техника
					.directions__pic
						img(src="../img/directions/d2.webp" alt="")
						button.btn.btn--c.btn--circle Записаться
							include ../svg/arrow-circle
				a.swiper-slide.directions__item(href="")
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title Музыка и вокал
					.directions__pic
						img(src="../img/directions/d3.webp" alt="")
						button.btn.btn--c.btn--circle Записаться
							include ../svg/arrow-circle
				a.swiper-slide.directions__item(href="")
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title Спорт и туризм
					.directions__pic
						img(src="../img/directions/d4.webp" alt="")
						button.btn.btn--c.btn--circle Записаться
							include ../svg/arrow-circle
				a.swiper-slide.directions__item(href="")
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title Дошколь-никам
					.directions__pic
						img(src="../img/directions/d5.webp" alt="")
						button.btn.btn--c.btn--circle Записаться
							include ../svg/arrow-circle
				a.swiper-slide.directions__item(href="")
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title Изо студии
					.directions__pic
						img(src="../img/directions/d6.webp" alt="")
						button.btn.btn--c.btn--circle Записаться
							include ../svg/arrow-circle
				a.swiper-slide.directions__item(href="")
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title Декоро-тивное творчество
					.directions__pic
						img(src="../img/directions/d7.webp" alt="")
						button.btn.btn--c.btn--circle Записаться
							include ../svg/arrow-circle
				a.swiper-slide.directions__item(href="")
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title Язык и культура
					.directions__pic
						img(src="../img/directions/d8.webp" alt="")
						button.btn.btn--c.btn--circle Записаться
							include ../svg/arrow-circle
				a.swiper-slide.directions__item(href="")
					.directions__aside 
						.directions__head 
							span 4-18 лет
							span Бесплатно / Платно
						.directions__title От 18 и старше
					.directions__pic
						img(src="../img/directions/d9.webp" alt="")
						button.btn.btn--c.btn--circle Записаться
							include ../svg/arrow-circle


		include block-actionA