.directions-wrap
	a.directions__item(href="card.html")
		.directions__aside 
			.directions__head 
				span 4-18 лет
				span Бесплатно / Платно
			.directions__title «Театральная гостиная»
		.directions__pic
			img(src="img/directions/d10.webp" alt="")
			button.btn.btn--c.btn--circle.chowModal1 Записаться
				include ../svg/arrow-circle
	a.directions__item(href="card.html")
		.directions__aside 
			.directions__head 
				span 4-18 лет
				span Бесплатно / Платно
			.directions__title «Танц-терапия для детей с ОВЗ»
		.directions__pic
			img(src="img/directions/d11.webp" alt="")
			button.btn.btn--c.btn--circle.chowModal1 Записаться
				include ../svg/arrow-circle
	a.directions__item(href="card.html")
		.directions__aside 
			.directions__head 
				span 4-18 лет
				span Бесплатно / Платно
			.directions__title Хореография в спорте
		.directions__pic
			img(src="img/directions/d12.webp" alt="")
			button.btn.btn--c.btn--circle.chowModal1 Записаться
				include ../svg/arrow-circle
	a.directions__item(href="card.html")
		.directions__aside 
			.directions__head 
				span 4-18 лет
				span Бесплатно / Платно
			.directions__title Танцевальный коллектив «Jazz Modern»
		.directions__pic
			img(src="img/directions/d13.webp" alt="")
			button.btn.btn--c.btn--circle.chowModal1 Записаться
				include ../svg/arrow-circle
	a.directions__item(href="card.html")
		.directions__aside 
			.directions__head 
				span 4-18 лет
				span Бесплатно / Платно
			.directions__title Партерная гимнастика
		.directions__pic
			img(src="img/directions/d14.webp" alt="")
			button.btn.btn--c.btn--circle.chowModal1 Записаться
				include ../svg/arrow-circle
	a.directions__item(href="card.html")
		.directions__aside 
			.directions__head 
				span 4-18 лет
				span Бесплатно / Платно
			.directions__title Развитие ритма и коорди-нации движений «Лови ритм»
		.directions__pic
			img(src="img/directions/d15.webp" alt="")
			button.btn.btn--c.btn--circle.chowModal1 Записаться
				include ../svg/arrow-circle
	a.directions__item(href="card.html")
		.directions__aside 
			.directions__head 
				span 4-18 лет
				span Бесплатно / Платно
			.directions__title Студия восточного танца «Алайя»
		.directions__pic
			img(src="img/directions/d16.webp" alt="")
			button.btn.btn--c.btn--circle.chowModal1 Записаться
				include ../svg/arrow-circle
	a.directions__item(href="card.html")
		.directions__aside 
			.directions__head 
				span 4-18 лет
				span Бесплатно / Платно
			.directions__title Коллектив современного танца «Фортуна»
		.directions__pic
			img(src="img/directions/d17.webp" alt="")
			button.btn.btn--c.btn--circle.chowModal1 Записаться
				include ../svg/arrow-circle
	a.directions__item(href="card.html")
		.directions__aside 
			.directions__head 
				span 4-18 лет
				span Бесплатно / Платно
			.directions__title Спортивные бальные танцы
		.directions__pic
			img(src="img/directions/d18.webp" alt="")
			button.btn.btn--c.btn--circle.chowModal1 Записаться
				include ../svg/arrow-circle

.pagination 
	a(href="").pagination__current  01
	a(href="") 02
	a(href="") 03
	span ...
	a(href="") 07 