.feedback__first 
	h3 #{feedbackTitle}
	p Запись на 1 год обучения будет осуществляется с 19 августа по 5 сентября на портале 
		a(href="https://www.mos.ru/" target="_blank") mos.ru 
	a.btn.btn--circle.btn--a.showModal1(href="") Связаться с нами
		include ../svg/arrow-circle