section.section.mb0
	.feedback 
		.container
			.feedback__wrap
				include feedback-first

				.feedback__last 
					.section__head 
						h2.section__title.section__title--white 
							div Как стать <span class="pink">волонтером</span>? 
							img(src="img/feedback-text.svg" alt="")
					.feedbacl__last-wrap 
						.feedback__item
							h3 зарегистрироваться на сайте <span class="pink">dobro.ru</span>
							p Запись на 1 год обучения будет осуществляется с 19 августа по 5 сентября на портале 
								a(href="mos.ru") mos.ru
							a.btn.btn--circle.btn--a(href="https://dobro.ru/" target="_blank") сайт Dobro.ru
								include ../svg/arrow-circle
						.feedback__item 
							img(src="img/a1.webp" alt="")
						.feedback__item 
							img(src="img/a3.webp" alt="")