section.section 
	.container
		h2.section__title А ещё цт «На Вадковском» — <br> это насыщенная жизнь
		.swiper.leisure#swiper-leisure
			.swiper-wrapper
				.swiper-slide.leisure__item 
					.leisure__content 
						.leisure__head 
							.leisure__icn 
								img(src="img/icn1.svg" alt="")
							h3 ФЕСТИВАЛЬНОЕ ДВИЖЕНИЕ
						.leisure__body 
							ul.list-blue
								li «Музыка ХХ века» инструментального исполнительского искусства
								li Московский городской фестиваль-смотр детско-юношеских коллективов авторской песни «Многоголосье»
								li Международный Международный детско-юношеский фестиваль авторской песни «Зеленая карета»
								li Джазовый фестиваль «Весь этот джаз»
								li Фестиваль цыганского искусства
							a(href="") Подробнее
								img(src="img/arrow-right-btn.svg" alt="")
					.leisure__pic
						img(src="img/rectangle57.webp" alt="")
				.swiper-slide.leisure__item
					.leisure__content 
						.leisure__head 
							.leisure__icn 
								img(src="img/icn3.svg" alt="")
							h3 ОРГАНИЗАЦИЯ ДОСУГА И <br> КАНИКУЛЯРНОГО ОТДЫХА
						.leisure__body 
							ul.list-blue 
								li «День семьи», «День музыки», «Масленица», «День рождение Центра», «Новый год», «Турнир профессионалов», «Интеллектуальный марафон», «Город мастеров», «Играй-город», «Дару-Дар» и др.
								li Лаборатория «Коллективные познавательные игры»
								li Игровой клуб настольных игр «Твой ход»; Киноклуб «Отражение»
								li Профильные лагеря, лагерь досуга и творчества «Бриз», лагеря актива, экскурсии, летние интенсивы
							a(href="") Подробнее
								img(src="img/arrow-right-btn.svg" alt="")
					.leisure__pic
						img(src="img/rectangle58.webp" alt="")
				.swiper-slide.leisure__item 
					.leisure__content 
						.leisure__head 
							.leisure__icn 
								img(src="img/icn2.svg" alt="")
							h3 Семейные клубы
						.leisure__body 
							ul.list-blue 
								li Клуб семейного досуга «Улей»
								li Клуб семейного туризма
								li Клуб «Хорошая среда»
								li Семейный клуб «Эрудит»
								li «Игротека» для маленьких
							a(href="") Подробнее
								img(src="img/arrow-right-btn.svg" alt="")
					.leisure__pic
						img(src="img/rectangle56.webp" alt="")