section.section.news-block
	.container 
		.section__head 
			h2.section__title.news-block__title 
				i 
					span.blue Узнайте  
					| Что <img src="img/news-text.svg">
				i происходит в центре?
			.news-block__aside.animate
				a(href="news.html").btn-border.btn-border--light-blue  
					| Все новости
				.animate-icn
					img(src="img/slide-pic-text.svg" alt="")
				.swiper-nav.news-block__nav
					.swiper-button-prev
						include ../svg/arrow-prev
					.swiper-button-next
						include ../svg/arrow-next
		.news-block__wrap 
			.swiper.swiper--scroll.news-block-slider 
				.swiper-wrapper 
					a.swiper-slide.news-block__item(href="anonsi.html")
						.news-block__pic
							img(src='img/s2.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Запись на новый учебный 2024-2025 год
							p.news-block__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
							button.btn-more Подробнее
								include ../svg/arrow-more

					a.swiper-slide.news-block__item(href="anonsi.html")
						.news-block__pic
							img(src='img/s3.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Праздник «Вадковский собирает друзей»
							p.news-block__text 2 сентября традиционно новый учебный год мы открываем со Дня открытых дверей. Все педагоги ждут к себе в гости детей и родителей, чтобы рассказать о деятельности своего объединения и дать возможность посетителям выбрать наиболее понравившееся объединение для занятий.
							button.btn-more Подробнее
								include ../svg/arrow-more
					a.swiper-slide.news-block__item(href="anonsi.html")
						.news-block__pic
							img(src='img/s4.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm День открытых дверей
							p.news-block__text 2 сентября традиционно новый учебный год мы открываем со Дня открытых дверей. Все педагоги ждут к себе в гости детей и родителей, чтобы рассказать о деятельности своего объединения и дать возможность посетителям выбрать наиболее понравившееся объединение для занятий.
							button.btn-more Подробнее
								include ../svg/arrow-more
					a.swiper-slide.news-block__item(href="anonsi.html")
						.news-block__pic
							img(src='img/s5.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Запись на новый учебный 2024-2025 год
							p.news-block__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
							button.btn-more Подробнее
								include ../svg/arrow-more
					a.swiper-slide.news-block__item(href="anonsi.html")
						.news-block__pic
							img(src='img/s5.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Запись на новый учебный 2024-2025 год
							p.news-block__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
							button.btn-more Подробнее
								include ../svg/arrow-more
					a.swiper-slide.news-block__item(href="anonsi.html")
						.news-block__pic
							img(src='img/s3.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Запись на новый учебный 2024-2025 год
							p.news-block__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
							button.btn-more Подробнее
								include ../svg/arrow-more
				.swiper-scrollbar