section.section 
	.container 
		.section__head 
			h2.section__title 
				span.blue Больше о нас <br>
				| расскажут отзывы
			.section__nav 
				.swiper-nav.reviews__nav
					.swiper-button-prev
						include ../svg/arrow-prev
					.swiper-button-next
						include ../svg/arrow-next
					button.btn-border.btn-border--light-blue Оставить отзыв