section.section 
	.container 
		h2.section__title История центра
		.story
			.swiper#swiper-story
				.swiper-wrapper 	
					.swiper-slide 
						.story__wrap
							.story__content
								h3.story__title 2016 год
								.story__text
									p Принимая во внимание показатели успешности, реализация намеченных плановых заданий выявляет срочную потребность глубокомысленных рассуждений. 
									p Идейные соображения высшего порядка, а также курс на социально-ориентированный национальный проект играет определяющее значение для системы обучения кадров, соответствующей насущным потребностям.
							.story__pic 
								img(src="img/Rectangle53.webp" alt="")
					.swiper-slide 
						.story__wrap
							.story__content
								h3.story__title 2017 год
								.story__text
									p Принимая во внимание показатели успешности, реализация намеченных плановых заданий выявляет срочную потребность глубокомысленных рассуждений. 
									p Идейные соображения высшего порядка, а также курс на социально-ориентированный национальный проект играет определяющее значение для системы обучения кадров, соответствующей насущным потребностям.
							.story__pic 
								img(src="img/Rectangle53.webp" alt="")
					.swiper-slide 
						.story__wrap
							.story__content
								h3.story__title 2018 год
								.story__text
									p Принимая во внимание показатели успешности, реализация намеченных плановых заданий выявляет срочную потребность глубокомысленных рассуждений. 
									p Идейные соображения высшего порядка, а также курс на социально-ориентированный национальный проект играет определяющее значение для системы обучения кадров, соответствующей насущным потребностям.
							.story__pic 
								img(src="img/Rectangle53.webp" alt="")
					.swiper-slide 
						.story__wrap
							.story__content
								h3.story__title 2019 год
								.story__text
									p Принимая во внимание показатели успешности, реализация намеченных плановых заданий выявляет срочную потребность глубокомысленных рассуждений. 
									p Идейные соображения высшего порядка, а также курс на социально-ориентированный национальный проект играет определяющее значение для системы обучения кадров, соответствующей насущным потребностям.
							.story__pic 
								img(src="img/Rectangle53.webp" alt="")
					.swiper-slide 
						.story__wrap
							.story__content
								h3.story__title 2020 год
								.story__text
									p Принимая во внимание показатели успешности, реализация намеченных плановых заданий выявляет срочную потребность глубокомысленных рассуждений. 
									p Идейные соображения высшего порядка, а также курс на социально-ориентированный национальный проект играет определяющее значение для системы обучения кадров, соответствующей насущным потребностям.
							.story__pic 
								img(src="img/Rectangle53.webp" alt="")
					.swiper-slide 
						.story__wrap
							.story__content
								h3.story__title 2021 год
								.story__text
									p Принимая во внимание показатели успешности, реализация намеченных плановых заданий выявляет срочную потребность глубокомысленных рассуждений. 
									p Идейные соображения высшего порядка, а также курс на социально-ориентированный национальный проект играет определяющее значение для системы обучения кадров, соответствующей насущным потребностям.
							.story__pic 
								img(src="img/Rectangle53.webp" alt="")
					.swiper-slide 
						.story__wrap
							.story__content
								h3.story__title 2022 год
								.story__text
									p Принимая во внимание показатели успешности, реализация намеченных плановых заданий выявляет срочную потребность глубокомысленных рассуждений. 
									p Идейные соображения высшего порядка, а также курс на социально-ориентированный национальный проект играет определяющее значение для системы обучения кадров, соответствующей насущным потребностям.
							.story__pic 
								img(src="img/Rectangle53.webp" alt="")
					.swiper-slide 
						.story__wrap
							.story__content
								h3.story__title 2023 год
								.story__text
									p Принимая во внимание показатели успешности, реализация намеченных плановых заданий выявляет срочную потребность глубокомысленных рассуждений. 
									p Идейные соображения высшего порядка, а также курс на социально-ориентированный национальный проект играет определяющее значение для системы обучения кадров, соответствующей насущным потребностям.
							.story__pic 
								img(src="img/Rectangle53.webp" alt="")

				.story__nav
					include swiper-nav

				.story__line
					.swiper-pagination 
