section.section.team
	.container 
		.team__wrap
			.section__head
				h2.section__title.section__title--white Центр — это команда <span class="pink">неравнодушных людей</span>, творческих и профессиональных педагогов, психологов, методистов и других сотрудников
				.team-nav 
					include swiper-nav
			.swiper#swiper-team.team__slider 
				.swiper-wrapper 
					a(href="").swiper-slide.team__item 
						.team__pic 
							img(src="img/team/1.webp" alt="")
						.team__body 
							span.team__name Имя Фамилия О.
							span.team__post Директор центра, стаж 15 лет
							span.team__descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium pariatur unde ducimus odio laudantium magni officia repellendus quos earum ratione, beatae maxime nihil, laboriosam nesciunt itaque, facere id quidem eaque est sequi! Eveniet fugiat culpa dolore architecto ducimus aperiam nulla quasi assumenda. Non soluta necessitatibus eligendi vel rem excepturi commodi!
					a(href="").swiper-slide.team__item 
						.team__pic 
							img(src="img/team/2.webp" alt="")
						.team__body 
							span.team__name Имя Фамилия О.
							span.team__post Директор центра, стаж 15 лет
							span.team__descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, quam.
					a(href="").swiper-slide.team__item 
						.team__pic 
							img(src="img/team/3.webp" alt="")
						.team__body 
							span.team__name Имя Фамилия О.
							span.team__post Директор центра, стаж 15 лет
							span.team__descr Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni eaque aperiam impedit exercitationem hic repudiandae, molestias error aspernatur ipsam possimus!
					a(href="").swiper-slide.team__item 
						.team__pic 
							img(src="img/team/4.webp" alt="")
						.team__body 
							span.team__name Имя Фамилия О.
							span.team__post Директор центра, стаж 15 лет
							span.team__descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero optio corporis amet recusandae, ducimus aliquam provident ipsum cumque ut blanditiis adipisci facere id expedita hic iste dolorem iure ad nemo consequatur error non sapiente. Atque et laboriosam exercitationem? Facere quisquam sed delectus quae nihil suscipit dignissimos quo magni est ut.
					a(href="").swiper-slide.team__item 
						.team__pic 
							img(src="img/team/2.webp" alt="")
						.team__body 
							span.team__name Имя Фамилия О.
							span.team__post Директор центра, стаж 15 лет
							span.team__descr Описание в 3-5 строк, если необходимо

			.team__footer
				a(href="staff.html").btn-border.btn-border--white Все сотрудники