.video__wrap
	iframe(width="100%" height="100%" src="https://rutube.ru/play/embed/d2881ff24f92c61f706b33d34a00a0f9" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen)