footer.footer.--before.--before-white
	.container 
		.footer__wrap
			.footer__top
				.footer__box
					.footer__col
						h4.footer__col-title О центре
						ul
							li 
								a(href="") Команда
							li 
								a(href="") Работа в центре
							li 
								a(href="") Документы
							li 
								a(href="") Отчеты
							li 
								a(href="") Объединения
							li 
								a(href="") Новости
							li 
								a(href="") Филиалы
					.footer__col
						h4.footer__col-title Родителям
						ul
							li 
								a(href="") Расписание
							li 
								a(href="") Объединения
					.footer__col
						h4.footer__col-title Детям
						ul
							li 
								a(href="") Объединения
							li 
								a(href="") Анонсы мероприятий
							li 
								a(href="") План мероприятий на месяц
				.footer__center 
					a.footer__logo(href="") 
						img(src="img/logo-footer.svg" alt="")
					.footer__links
						a.footer__link.footer__link--tel(href="tel:84999726237") 8 (499) 972-62-37
						a.footer__link.footer__link--mail(href="mailto:navadkovskom@social.mos.ru") navadkovskom@social.mos.ru
					.footer__social 
						a.footer__link-vk(href="")
							include ../svg/vk-icn
						a.footer__link-tg(href="")
							include ../svg/tg-icn
				.footer__box
					.footer__col
						h4.footer__col-title Педагогам
						ul
							li
								a(href="") Вакансии
							li 
								a(href="") Курсы
					.footer__col
						h4.footer__col-title Долголетие
						ul
							li 
								a(href="") Расписание
							li 
								a(href="") Объединения
							li 
								a(href="") Отзывы
					.footer__col
						h4.footer__col-title Методическая площадка
						ul
							li 
								a(href="") Документы
							li 
								a(href="") Отчеты
							li 
								a(href="") Методисты

			.footer__bottom 
				img(src="img/rating.webp" alt="")
				.footer__copy
					| 1976- <script>today.getFullYear();</script> Детское общеобразовательная <br> органицация центр творчества “На Вадковсокм”
					a(href="")  Политика конфиденциальности
				.footer__subscribe 
					span Подписка на рассылку
					form.form1(action="") 
						input(type="text" placeholder="Ваш e-mail")
						input(type="submit" value="Подписаться")