header.header 
	.container 
		.header__wrap 
			.header__top 
				a.header__logo(href="index.html")
					img(src="img/logo.svg" alt="")
				.header__search
					input(type="text" placeholder="Поиск")
				.header__right
					.header__social 
						a.header__social-link(href="tel:84999726237") 
							include ../svg/phone
						a.header__social-link(href="")
							include ../svg/vk
						a.header__social-link(href="")
							include ../svg/tg
					.header__special 
						include ../svg/eye
						span Для слабовидящих
			.header__mobile 
				.header__social 
					a.header__social-link(href="tel:84999726237") 
						include ../svg/phone
					a.header__social-link(href="" target="_blank")
						include ../svg/vk
					a.header__social-link.header__social-link--mode(href="" target="_blank")
						include ../svg/tg
						| Наш канал

				.header__menu 
					| Меню
					.burger
			include ../blocks/menu