head 
	meta(charset="utf-8")
	title На Вадковском
	meta(content="ie=edge" http-equiv="x-ua-compatible")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(name="viewport-extra" content="width=device-width,initial-scale=1,min-width=375")
	link(rel="icon" href="favicon.ico")
	link(rel="stylesheet" href="https://unpkg.com/accordion-js@3.4.0/dist/accordion.min.css")
	link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
	link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css")
	link(rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css")
	link(rel="stylesheet" href="fonts/stylesheet.css")
	link(rel="stylesheet" href="css/style.min.css")