//- script(src="https://code.jquery.com/jquery-3.7.1.min.js")
//- script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
//- script(src="https://cdn.jsdelivr.net/npm/jquery.marquee@1.6.0/jquery.marquee.min.js")
//- script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
script(src="js/jquery-3.7.1.min.js")
script(src="js/swiper-bundle.min.js")
script(src="js/jquery.marquee.min.js")
script(src="js/aos.js")
script(src="js/custom-select.min.js")
script(src="js/tabs.js")
script(src="js/accordion.min.js")
script(src="js/fancybox.umd.js")
script(src="js/main.js")