extends layout
block main 
	main 
		section.section
			.container
				.breadcrumbs 
					a(href="").breadcrumbs__link На главную
					span /
					span О центре
				.banner
					img.banner__thumb(src="../img/bg.webp" alt="")
					h1 О Центре Творчества<br> «На Вадковском»
					.banner__content
						p Cведения об образовательной организации: документы, структура и органы и т.д
						a(href="") Узнать