extends layout
block vars 
block main 
	main
		.breadcrumbs 
			.container 
				ul 
					li 
						a(href="javascript:history.back()") 
							span Назад
					li 
						span /
					li 
						a(href="staff.html")  Наши сотрудник
					li 
						span /
					li 
						span Полянский Кирилл Геннадьевич

		section.section 
			.container 
				h2.section__title Полянский Кирилл Геннадьевич
				.card-single 
					.card-single__pic 
						img(src="img/team/1-large.webp" alt="")
					.card-single__body 
						ul 
							li
								span Занимаемая должность
								span Заместитель директора по воспитательной работе
							li
								span Педагогический стаж
								span с 1984 года
							li
								span Стаж работы в учреждении
								span с 1978 года
							li
								span Образование
								span Московский государственный педагогический институт, 1984 г.
							li
								span Образование
								span Московский государственный педагогический институт, 1984 г.
							li
								span Награды
								span Почетная Грамота Минобразования, Почетный работник образования, Почетная Грамота ДСЗН г. Москвы
				.card-single-desr
					.card-single-desr__item
						span Адрес
						span 127055, г. Москва, Вадковский пер., д. 3
					.card-single-desr__item
						span Телефон
						span 
							a(href="tel:84999726155") 8 (499) 972-61-55
					.card-single-desr__item
						span Электронная почта:
						span 
							a(href="mailto:kir.polyansky@gmail.com") kir.polyansky@gmail.com