extends layout
block vars 
block main 
	main
		.breadcrumbs 
			.container 
				ul 
					li 
						a(href="javascript:history.back()") 
							span Назад
					li 
						span /
					li 
						span Наши клубы

		section.section 
			.container 
				h2.section__title Наши клубы
				.clubs-block 
					.clubs-block__item 
						.clubs-block__pic 
							img(src="img/clubs/1.webp" alt="")
						.clubs-block__title Дискуссионный киноклуб “ОТРАЖЕНИЕ”
					.clubs-block__item 
						.clubs-block__pic 
							img(src="img/clubs/2.webp" alt="")
						.clubs-block__title Семейный клуб “ЭРУДИТ”
					.clubs-block__item 
						.clubs-block__pic 
							img(src="img/clubs/3.webp" alt="")
						.clubs-block__title клуб СЕМЕЙНОГО ТУРИЗМА “НОРД”
					.clubs-block__item 
						.clubs-block__pic 
							img(src="img/clubs/4.webp" alt="")
						.clubs-block__title Клуб «Хорошая среда» для детей с РАС и их семей
					.clubs-block__item 
						.clubs-block__pic 
							img(src="img/clubs/5.webp" alt="")
						.clubs-block__title Реабилитационный клуб “ЛИПКИ”
					.clubs-block__item 
						.clubs-block__pic 
							img(src="img/clubs/6.webp" alt="")
						.clubs-block__title Клуб семейного досуга “УЛЕЙ”
					.clubs-block__item 
						.clubs-block__pic 
							img(src="img/clubs/7.webp" alt="")
						.clubs-block__title ТЕАТР “БРОДЯЧИЙ ВЕРТЕП”
					.clubs-block__item 
						.clubs-block__pic 
							img(src="img/clubs/8.webp" alt="")
						.clubs-block__title Автомобильный клуб «ЮНЫЙ АВТОМОБИЛИСТ»