extends layout
block vars 
block main 
	main
		.breadcrumbs 
			.container 
				ul 
					li 
						a(href="javascript:history.back()") 
							span Назад
					li 
						span /
					li 
						span Документы

		section.section 
			.container 
				h2.section__title Документы
				.accordion-container 
					.ac
						h2.ac-header 
							button.ac-trigger 
								img(src="img/icn/znak.svg" alt="")
								span ПРАВОУСТАНАВЛИВАЮЩИЕ ДОКУМЕНТЫ:
						.ac-panel
							ul
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2023/09/УСТАВ-2023.pdf") Устав ЦТ “На Вадковском”
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2019/10/litsenziya-na-osushhestvenie-obrazovatelnoj-deyatelnosti.compressed.pdf") Лицензия на осуществление образовательной деятельности
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2019/10/litsenziya-prilozhenie.pdf") Лицензия (Приложение-1)
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/02/План-ФХД-2024.pdf") План финансово-хозяйственной деятельности на 2024 г. и плановый период на 2025-2026 г.г.
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2021/09/реквизиты-ЦТ.pdf") Реквизиты ЦТ “На Вадковском” (ОГРН)
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2021/02/IMG.pdf") Платежные реквизиты учреждения
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/02/электронная_копия_государственного_задания-4.pdf") Государственное задание на 2024 г. и плановый период на 2025-2026 г.г.
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/02/ВыпискаизЕГРЮЛ.pdf") Выписка из Единого государственного реестра юридических лиц

					.ac
						h2.ac-header 
							button.ac-trigger 
								img(src="img/icn/znak.svg" alt="")
								span ЛОКАЛЬНЫЕ АКТЫ:
						.ac-panel
							ul
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2019/10/pologenie_o_strukturnom_podrazdelenii.pdf") Положение о структурных подразделениях
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2019/10/pravila_vnutrennego_rasporyadka_uchashihsya.pdf") Правила внутреннего распорядка обучающихся
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2019/10/Тrudovoy_rasporyadok_rabotnikov.pdf") Правила внутреннего трудового распорядка
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2023/07/Положение-об-УС.pdf") Положение об Управляющем совете 
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/12/Положение-об-оплате-труда-новая-редакция-_-скан.pdf") Положение об оплате труда работников ГБУ ДО ЦТ “На Вадковском”

					.ac
						h2.ac-header 
							button.ac-trigger 
								img(src="img/icn/znak.svg" alt="")
								span УЧЕТНАЯ ПОЛИТИКА ЦЕНТРА:
						.ac-panel
							ul
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/06/УП_compressed_compressed-сжатый.pdf") Учётная политика для целей ведения бухгалтерского учёта
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/06/Приложение1.pdf") Приложение 1
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/06/Приложение-2_compressed-1.pdf") Приложение 2
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/06/Приложение-3.pdf") Приложение 3
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/06/Приложение-4.pdf") Приложение 4
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/06/Приложение-5.pdf") Приложение 5
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/06/Приложение-6.pdf") Приложение 6

					.ac 
						h2.ac-header 
							button.ac-trigger
								img(src="img/icn/znak.svg" alt="")
								span Противодействие коррупции
						.ac-panel
							ul
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/05/СРЕДНЯЯ-2023.pdf") Информация о среднемесячной заработной плате руководителя и заместителей руководителя за 2023 г.
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/02/Отчет-за-2-полугодие-2023-года.pdf") Отчет об исполнении мероприятий, предусмотренных Планом противодействия коррупции за 2 полугодие 2023 
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/02/Отчет-о-предупреждении-коррупции-1-полугодие-2023.pdf") Отчет об исполнении мероприятий, предусмотренных Планом противодействия коррупции за 1 полугодие 2023 г.
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2023/04/%D0%9E%D1%82%D1%87%D0%B5%D1%82-%D0%B7%D0%B0-2-%D0%BF%D0%BE%D0%BB%D1%83%D0%B3%D0%BE%D0%B4%D0%B8%D0%B5-2022-%D0%B3%D0%BE%D0%B4%D0%B0-1.pdf") Отчет об исполнении мероприятий, предусмотренных Планом противодействия коррупции за 2 полугодие 2022 г.
								li
									a(rel="noreferrer noopener" href="http://navadkovscom.ru/wp-content/uploads/2022/07/Отчет-о-предупреждении-коррупции-1-полугодие-2022.pdf" target="_blank") Отчет об исполнении мероприятий, предусмотренных Планом противодействия коррупции за 1 полугодие 2022 г.
								li
									a(rel="noreferrer noopener" href="http://navadkovscom.ru/wp-content/uploads/2022/02/В-1119-08-12-21-Полугодовой-отчет-на-сайте-ПЛАН.pdf" target="_blank") Отчет об исполнении мероприятий, предусмотренных Планом противодействия коррупции за 2 полугодие 2021 г.
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2021/09/Полугодовой-отчет-за-1-полугодие-2021-года.pdf") Отчет об исполнении мероприятий, предусмотренных Планом противодействия коррупции за 1 полугодие 2021 г.
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2020/12/Полугодовой-ВТОРОЕ-ПОЛУГОДИЕ-отчет-на-сайте-ГБУ-ДО-ЦТ-НА-Вадковском.pdf") Отчет об исполнении мероприятий, предусмотренных Планом противодействия коррупции за 2 полугодие 2020 г. 
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2020/08/Polugodovoj-otchet-na-sajte-PLAN-GBU-DO-TST-NA-Vadkovskom.pdf") Отчет об исполнении мероприятий, предусмотренных Планом противодействия коррупции за 1 полугодие 2020 г.
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2020/08/otchet-TST-Na-Vadkovskom-ob-ispolnenii-meropriyatij-po-antikorruptsii.pdf") Отчет об исполнении мероприятий, предусмотренных Планом противодействия коррупции за 2 полугодие 2019 г. 

					.ac 
						h2.ac-header 
							button.ac-trigger
								img(src="img/icn/znak.svg" alt="")
								span КАТЕГОРИИ ДЕТЕЙ ИЗ СЕМЕЙ, ИМЕЮЩИХ СОЦИАЛЬНЫЕ ЛЬГОТЫ
						.ac-panel
							ul
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2022/09/spisok-detej-lgotnikov1.pdf") Список категорий детей, имеющих социальные льготы в ЦТ “На Вадковском”

					.ac 
						h2.ac-header 
							button.ac-trigger
								img(src="img/icn/znak.svg" alt="")
								span ОТЧЕТЫ О САМООБСЛЕДОВАНИИ
						.ac-panel
							ul
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2023/10/Отчет-о-самообследовании-2022-1.pdf") Отчет о результатах самообcледования за 2022 г.

					.ac 
						h2.ac-header 
							button.ac-trigger
								img(src="img/icn/znak.svg" alt="")
								span ПУБЛИЧНЫЙ ДОКЛАД
						.ac-panel
							ul
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2023/11/Публичный-доклад-за-2022-2023-учебный-год-ФИНАЛ.pdf") Публичный доклад за 2022-2023 учебный год
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2022/06/ПУбличный-доклад-за-2021-2022-учебный-год-на-сайт.pdf") Публичный доклад за 2021-2022 учебный год
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2021/04/%D0%9F%D1%83%D0%B1%D0%BB%D0%B8%D1%87%D0%BD%D1%8B%D0%B9-%D0%B4%D0%BE%D0%BA%D0%BB%D0%B0%D0%B4-%D0%BD%D0%B0-%D1%81%D0%B0%D0%B9%D1%82.pdf") Публичный доклад за 2020-2021 учебный год
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2020/09/Публичный-доклад-финал.pdf") Публичный доклад за 2019-2020 учебный год (основные результаты деятельности за 5 лет)

					.ac 
						h2.ac-header 
							button.ac-trigger
								img(src="img/icn/znak.svg" alt="")
								span ПОЛОЖЕНИЕ ОБ ОРГАНИЗАЦИИ КОНТРОЛЯ УСПЕВАЕМОСТИ И АТТЕСТАЦИИ ОБУЧАЮЩИХСЯ ГБУ ДО ЦЕНТР ТВОРЧЕСТВА «НА ВАДКОВСКОМ»
						.ac-panel
							ul
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2023/03/Положение-о-текущем-контроле-пром.-итог.-аттестации-1.pdf") Положение об организации контроля успеваемости и аттестации обучающихся ГБУ ДО Центра творчества «На Вадковском»

					.ac 
						h2.ac-header 
							button.ac-trigger
								img(src="img/icn/znak.svg" alt="")
								span КОЛЛЕКТИВНЫЙ ТРУДОВОЙ ДОГОВОР ГБУ ДО ЦТ «НА ВАДКОВСКОМ»
						.ac-panel
							ul
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2023/11/Коллективный-трудовой-договор-новый-Вадковский.pdf") Коллективный трудовой договор ЦТ «На Вадковском»

					.ac 
						h2.ac-header 
							button.ac-trigger
								img(src="img/icn/znak.svg" alt="")
								span Отчет о проведении специальной оценки условий труда в ГБУ ДО ЦТ “На Вадковском”
						.ac-panel
							ul
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2020/08/СОУТ.pdf") Отчет о проведении специальной оценки условий труда в ГБУ ДО ЦТ “На Вадковском” 

					.ac 
						h2.ac-header 
							button.ac-trigger
								img(src="img/icn/znak.svg" alt="")
								span ПЛАТНЫЕ УСЛУГИ:
						.ac-panel
							ul
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/09/Договор-детский-утвержден-Полянским-30.08.24-в-18-00.pdf") Образец договора на оказание платных образовательных услуг (Дети)
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/09/Договор-взрослый-1.pdf") Образец договора на оказание платных образовательных услуг (Взрослые)
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/09/Договор-детский-мат.-капитал-2.pdf") Договор об образовании по дополнительным общеобразовательным программам (с условием оплаты услуг за счет направления средств материнского капитала)
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/10/ПРИКАЗ-№-68-ОСД-от-28.08.2024-платные-услуги-редакция-15.10.2024.pdf") Документ об оказании дополнительных платных образовательных услуг в 2024-2025 уч.году (Приказ)
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2022/09/Положение-о-порядке-оказания-платных-услуг.pdf") Положение о порядке оказания платных образовательных услуг

					.ac 
						h2.ac-header 
							button.ac-trigger
								img(src="img/icn/znak.svg" alt="")
								span РАСПИСАНИЕ:
						.ac-panel
							ul
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/11/расписание-для-сайта-ЦТ-платные-услуги-2024-2025-1.pdf") Расписание ЦТ «На Вадковском» 2024-2025 гг.м (платные группы)
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/09/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf") Расписание ЦТ «На Вадковском» 2024-2025 гг.м (бюджет)
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/11/РАСПИСАНИЕ-БЮДЖЕТ-2024-2025.pdf") Расписание СП «Россия молодая» 2024-2025 гг. (бюджет)
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/10/Расписание-ПЛАТНОЕ-24-25.pdf") Расписание СП «Россия молодая» на 2024-2025 гг. (платные группы)
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/09/УЧЕБНЫЙ-ПЛАН-на-2024-2025-учебный-год-бюджет.pdf") Учебный план на 2024-2025 учебный год (бюджет)
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/09/УЧЕБНЫЙ-ПЛАН-на-2024-2025-учебный-год-платные-услуги.pdf") Учебный план на 2024-2025 учебный год (внебюджет)
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2023/09/Заявление.pdf") Образец заявления на запись в объединение 2023-2024 уч.год

					.ac 
						h2.ac-header 
							button.ac-trigger
								img(src="img/icn/znak.svg" alt="")
								span ОХРАНА ТРУДА:
						.ac-panel
							ul
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/08/Перечень_рекомендуемых_мероприятий_по_улучшению_условий_труда_по.pdf") Перечень рекомендуемых мероприятий по улучшению условий труда
								li
									a(href="http://navadkovscom.ru/wp-content/uploads/2024/08/Отчет_и_сводная_ведомость_проведения_СОУТ_в_ГБУ_ДО_ЦТ_На_Вадковском.pdf") Отчет
									em
									| и сводная ведомость проведения СОУТ в ГБУ ДО ЦТ На_Вадковском

