extends layout
block vars 
block main 
	main
		.breadcrumbs 
			.container 
				ul 
					li 
						a(href="javascript:history.back()") 
							span Назад
					li 
						span /
					li 
						span План мероприятий

		section.section 
			.container 
				h2.section__title план мероприятий
				.accordion-container 
					.ac
						h2.ac-header 
							button.ac-trigger 
								img(src="img/icn/znak.svg" alt="")
								span <span style="color: #ABB8DA;">УЧЕБНЫЙ ГОД</span> 2024-2025
						.ac-panel
							ul 
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на июнь 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на май 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на апрель 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на март 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на март 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на январь 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на декабрь 2023 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на ноябрь 2023 год
					.ac
						h2.ac-header 
							button.ac-trigger 
								img(src="img/icn/znak.svg" alt="")
								span <span style="color: #ABB8DA;">УЧЕБНЫЙ ГОД</span> 2023-2024
						.ac-panel
							ul 
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на июнь 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на май 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на апрель 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на март 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на март 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на январь 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на декабрь 2023 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на ноябрь 2023 год
					.ac
						h2.ac-header 
							button.ac-trigger 
								img(src="img/icn/znak.svg" alt="")
								span <span style="color: #ABB8DA;">УЧЕБНЫЙ ГОД</span> 2022-2023
						.ac-panel
							ul 
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на июнь 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на май 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на апрель 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на март 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на март 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на январь 2024 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на декабрь 2023 год
								li
									a(href="docs/расписание-для-сайта-ЦТ-бюджет-2024-2025.pdf").fancybox План мероприятий на ноябрь 2023 год