extends layout
block main 
	main
		section.section
			.container 
				.swiper.main-slider 
					.swiper-wrapper 
						.swiper-slide.main-block 
							.main-block__pic
								img(src='img/s1.webp' alt='')
							.main-block__content
								h2.main-block__title Решаем задачи дополнительного образования детей, подростков и молодежи
								.main-block__descr
									p Многопрофильный разноуровневый образовательно-досуговый комплекс, решающий задачи дополнительного образования детей, подростков и молодежи
									.main-block__btns 
										a.btn.btn--circle.btn--a(href="") Записаться в студию
											include svg/arrow-circle
										a.main-block__btn(href="") Об организации
											include svg/arrow-circle-sm
						.swiper-slide.main-block 
							.main-block__pic
								img(src='img/s1.webp' alt='')
							.main-block__content
								h2.main-block__title Решаем задачи дополнительного образования детей, подростков и молодежи
								.main-block__descr
									p Многопрофильный разноуровневый образовательно-досуговый комплекс, решающий задачи дополнительного образования детей, подростков и молодежи
									.main-block__btns 
										a.btn.btn--circle.btn--a(href="") Записаться в студию
											include svg/arrow-circle
										a.main-block__btn(href="") Об организации
											include svg/arrow-circle-sm
					.main-block__nav
						.swiper-button-prev
							//- img(src='img/arrow_left.svg' alt='') 
							include svg/arrow-prev-trans
						.swiper-button-next
							//- img(src='img/arrow_right.svg' alt='')
							include svg/arrow-next-trans

		section.section.news-block
			.container 
				.section__head 
					h2.section__title.news-block__title 
						i 
							span.blue Узнайте  
							| Что 
						i происходит в школе?
					.news-block__aside.animate
						a(href="").btn-border.btn-border--light-blue  
							| Все новости
						.animate-icn
							img(src="img/tudasuda.gif" alt="")
						.swiper-nav.news-block__nav
							.swiper-button-prev
								include svg/arrow-prev
							.swiper-button-next
								include svg/arrow-next
				.news-block__wrap 
					.swiper.swiper--scroll.news-block-slider 
						.swiper-wrapper 
							a.swiper-slide.news-block-slider__item(href="")
								.news-block-slider__pic
									img(src='img/s2.webp' alt='')
								.news-block-slider__content
									span.news-block-slider__date 12.08.2024
									span.news-block-slider__title Запись на новый учебный 2024-2025 год
									p.news-block-slider__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
									button.btn-more Подробнее
										include svg/arrow-more

							a.swiper-slide.news-block-slider__item(href="")
								.news-block-slider__pic
									img(src='img/s3.webp' alt='')
								.news-block-slider__content
									span.news-block-slider__date 12.08.2024
									span.news-block-slider__title Праздник «Вадковский собирает друзей»
									p.news-block-slider__text 2 сентября традиционно новый учебный год мы открываем со Дня открытых дверей. Все педагоги ждут к себе в гости детей и родителей, чтобы рассказать о деятельности своего объединения и дать возможность посетителям выбрать наиболее понравившееся объединение для занятий.
									button.btn-more Подробнее
										include svg/arrow-more
							a.swiper-slide.news-block-slider__item(href="")
								.news-block-slider__pic
									img(src='img/s4.webp' alt='')
								.news-block-slider__content
									span.news-block-slider__date 12.08.2024
									span.news-block-slider__title День открытых дверей
									p.news-block-slider__text 2 сентября традиционно новый учебный год мы открываем со Дня открытых дверей. Все педагоги ждут к себе в гости детей и родителей, чтобы рассказать о деятельности своего объединения и дать возможность посетителям выбрать наиболее понравившееся объединение для занятий.
									button.btn-more Подробнее
										include svg/arrow-more
							a.swiper-slide.news-block-slider__item(href="")
								.news-block-slider__pic
									img(src='img/s5.webp' alt='')
								.news-block-slider__content
									span.news-block-slider__date 12.08.2024
									span.news-block-slider__title Запись на новый учебный 2024-2025 год
									p.news-block-slider__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
									button.btn-more Подробнее
										include svg/arrow-more
							a.swiper-slide.news-block-slider__item(href="")
								.news-block-slider__pic
									img(src='img/s5.webp' alt='')
								.news-block-slider__content
									span.news-block-slider__date 12.08.2024
									span.news-block-slider__title Запись на новый учебный 2024-2025 год
									p.news-block-slider__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
									button.btn-more Подробнее
										include svg/arrow-more
							a.swiper-slide.news-block-slider__item(href="")
								.news-block-slider__pic
									img(src='img/s3.webp' alt='')
								.news-block-slider__content
									span.news-block-slider__date 12.08.2024
									span.news-block-slider__title Запись на новый учебный 2024-2025 год
									p.news-block-slider__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
									button.btn-more Подробнее
										include svg/arrow-more
						.swiper-scrollbar

		section.section.marquee(data-duration='5000' data-duplicated='true')
			span о Центре творчества «На  Вадковском»
			span о Центре творчества «На  Вадковском»
			span о Центре творчества «На  Вадковском»

		section.section.--after.--after-blue
			.container
				.main-block.main-block--mode 
					.main-block__pic
						img(src='img/s6.webp' alt='')
					.main-block__content.main-block__content--mode
						h2.main-block__title Центр творчества «На Вадковском» — это жизнь, полная эмоций, творческого развития, общения и семейного тепла
						.main-block__descr
							p Многопрофильный разноуровневый образовательно-досуговый комплекс, решающий задачи дополнительного образования детей, подростков и молодежи
							.main-block__btns 
								a(href="").btn-border.btn-border--white Узнать подробнее 
					.main-block__play
						include svg/play

				.mission
					.mission__aside 
						.mission__aside-top 
							img.mission__aside-icn(src="img/m-icn.svg" alt="")
							img.mission__aside-pic(src="img/m-pic.webp" alt="")
						.mission__aside-bottom
							h2.section__title.mission__title Миссия <br> нашего центра
							.mission__text 
								p Наша миссия заключена в воспитании свободной творческой личности в каждом ребенке. Наш выпускник - это счастливый и успешный человек. Наряду с навыками и мастерством мы развиваем и мягкие компетенции, так необходимые во взрослой жизни.
								p Мы искренне любим детей, верим в уникальность каждого и помогаем раскрыть самое лучшее и неповторимое.
					.mission__numbers 
						.mission__numbers-item
							span 5090
							p Детей обучалось в 2022-2023 в возрасте от 3 до 18 лет
						.mission__numbers-item
							span 3500+
							p Ребят приняли участие в различных конкурсах, турнирах, фестивалях, олимпиадах
						.mission__numbers-item
							span 240+
							p Программ реализуется на базе центра
						.mission__numbers-item
							span 631
							p Обучающихся являются детьми с ОВЗ и инвалидностью

		include blocks/directions

		include blocks/advantages

		include blocks/reviews

		section.section.block-about 
			.container 
				.block-about__wrap 

		include blocks/block-actionB

		include blocks/clubs


		section.section
			.container 
				h2.section__title.section__title--center.gallery-block__title будем рады видеть вас <br> в цт «На вадковском»
				.gallery-block 
					img.gallery-block__pic(data-aos="fade-up" src="img/gallery/Rectangle 36.webp" alt="")
					img.gallery-block__pic(data-aos="fade-up" src="img/gallery/Rectangle 37.webp" alt="")
					img.gallery-block__pic(data-aos="fade-up" src="img/gallery/Rectangle 38.webp" alt="")
					img.gallery-block__pic(data-aos="fade-up" src="img/gallery/Rectangle 39.webp" alt="")
					img.gallery-block__pic(data-aos="fade-up" src="img/gallery/Rectangle 40.webp" alt="")
					img.gallery-block__pic(data-aos="fade-up" src="img/gallery/Rectangle 41.webp" alt="")
					img.gallery-block__pic(data-aos="fade-up" src="img/gallery/Rectangle 42.webp" alt="")
					img.gallery-block__pic(data-aos="fade-up" src="img/gallery/Rectangle 43.webp" alt="")
					img.gallery-block__pic(data-aos="fade-up" src="img/gallery/Rectangle 44.webp" alt="")
					img.gallery-block__pic(data-aos="fade-up" src="img/gallery/Rectangle 45.webp" alt="")
					img.gallery-block__pic(data-aos="fade-up" src="img/gallery/Rectangle 46.webp" alt="")
					img.gallery-block__pic(data-aos="fade-up" src="img/gallery/Rectangle 47.webp" alt="")


		section.section.contacts-block
			.container 
				h2.section__title.section__title--center Контакты
				.contacts-block__wrap 
					.contacts-block__item 
						.contacts-block__row
							h4.contacts-block__title Адрес:
							p г. Москва, Вадковский пер., д. 3
						.contacts-block__row 
							h4.contacts-block__title Режим работы:
							p Пн. – Вс.: с 9:00 до 22:00
						.contacts-block__row
							h4.contacts-block__title Телефон:
							a(href="") 8 (499) 972-62-37
							a(href="") 8 (499) 972-61-55 - 
								span директор
							a(href="") 8 (499) 972-62-37 - 
								span вахта
					.contacts-block__item 
						.contacts-block__row
							h4.contacts-block__title Адрес
							p г. Москва, пр. Мира, д. 43
						.contacts-block__row
							h4.contacts-block__title Режим работы:
							p Пн. – Вс.: с 9:00 до 22:00
						.contacts-block__row
							h4.contacts-block__title Телефон:
							p 8 (495) 681-03-65
					.contacts-block__item
						h4.contacts-block__title-soc Соцсети
						.contacts-block__social
							a(href="" target="_blank")
								include svg/vk2
							a(href="" target="_blank")
								include svg/tg2
