extends layout
block vars 

block main 
	main
		.breadcrumbs 
			.container 
				ul 
					li
						a(href="javascript:history.back()")
							span Назад 
					li 
						span /
					li 
						span Об образовательной организации

		section.section.information 
			.container 
				h2.section__title Cведения об образовательной организации
				.information__wrap 
					a(href="documents.html").information__item
						.information__icn 
							img(src="img/icn/icn1.svg" alt="")
						p Основные сведения
					a(href="documents.html").information__item
						.information__icn 
							img(src="img/icn/icn2.svg" alt="")
						p Структуры и органы упарвления
					a(href="documents.html").information__item
						.information__icn 
							img(src="img/icn/icn3.svg" alt="")
						p Документы
					a(href="documents.html").information__item
						.information__icn 
							img(src="img/icn/icn4.svg" alt="")
						p Образование
					a(href="documents.html").information__item
						.information__icn 
							img(src="img/icn/icn5.svg" alt="")
						p Руководство и инные работники
					a(href="documents.html").information__item
						.information__icn 
							img(src="img/icn/icn6.svg" alt="")
						p Педагогический состав
					a(href="documents.html").information__item
						.information__icn 
							img(src="img/icn/icn7.svg" alt="")
						p Материально- техническое оснащение
					a(href="documents.html").information__item
						.information__icn 
							img(src="img/icn/icn8.svg" alt="")
						p Управляющий совет
					a(href="documents.html").information__item
						.information__icn 
							img(src="img/icn/icn9.svg" alt="")
						p Профсоюзный комитет
					a(href="documents.html").information__item
						.information__icn 
							img(src="img/icn/icn10.svg" alt="")
						p Платные образовательные услуги
					a(href="documents.html").information__item
						.information__icn 
							img(src="img/icn/icn11.svg" alt="")
						p Финансово- хозяйственная деятельность
					a(href="documents.html").information__item
						.information__icn 
							img(src="img/icn/icn12.svg" alt="")
						p Вакантные места для приёма на работу
					a(href="documents.html").information__item
						.information__icn 
							img(src="img/icn/icn13.svg" alt="")
						p Доступная среда

				.pagination 
					a(href="").pagination__current  01
					a(href="")  02
					a(href="")  03