block vars
doctype html
html(lang="ru")
	include modules/head
	if bodyColor == 'blue'
		body.body--blue
		.wrapper
			include modules/header
			block main
			include modules/footer
			include modules/script
	else 
		body
		.wrapper
			include modules/header
			block main
			include modules/footer
			include modules/script