extends layout
block vars 
block main 
	main
		.breadcrumbs 
			.container
				ul 
					li
						a(href="javascript:history.back()")
							span Назад 
					li 
						span /
					li 
						span Новости 

		section.section
			.container
				h2.section__title Новости
				.news 
					a.news-block__item(href="post.html")
						.news-block__pic
							img(src='img/s2.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Запись на новый учебный 2024-2025 год
							p.news-block__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
							button.btn-more Подробнее
								include svg/arrow-more

					a.news-block__item(href="post.html")
						.news-block__pic
							img(src='img/s2.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Запись на новый учебный 2024-2025 год
							p.news-block__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
							button.btn-more Подробнее
								include svg/arrow-more
					a.news-block__item(href="post.html")
						.news-block__pic
							img(src='img/s2.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Запись на новый учебный 2024-2025 год
							p.news-block__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
							button.btn-more Подробнее
								include svg/arrow-more
					a.news-block__item(href="post.html")
						.news-block__pic
							img(src='img/s2.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Запись на новый учебный 2024-2025 год
							p.news-block__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
							button.btn-more Подробнее
								include svg/arrow-more
					a.news-block__item(href="post.html")
						.news-block__pic
							img(src='img/s2.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Запись на новый учебный 2024-2025 год
							p.news-block__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
							button.btn-more Подробнее
								include svg/arrow-more

					a.news-block__item(href="post.html")
						.news-block__pic
							img(src='img/s2.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Запись на новый учебный 2024-2025 год
							p.news-block__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
							button.btn-more Подробнее
								include svg/arrow-more
					a.news-block__item(href="post.html")
						.news-block__pic
							img(src='img/s2.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Запись на новый учебный 2024-2025 год
							p.news-block__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
							button.btn-more Подробнее
								include svg/arrow-more
					a.news-block__item(href="post.html")
						.news-block__pic
							img(src='img/s2.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Запись на новый учебный 2024-2025 год
							p.news-block__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
							button.btn-more Подробнее
								include svg/arrow-more
					a.news-block__item(href="post.html")
						.news-block__pic
							img(src='img/s2.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Запись на новый учебный 2024-2025 год
							p.news-block__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
							button.btn-more Подробнее
								include svg/arrow-more

					a.news-block__item(href="post.html")
						.news-block__pic
							img(src='img/s2.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Запись на новый учебный 2024-2025 год
							p.news-block__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
							button.btn-more Подробнее
								include svg/arrow-more
					a.news-block__item(href="post.html")
						.news-block__pic
							img(src='img/s2.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Запись на новый учебный 2024-2025 год
							p.news-block__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
							button.btn-more Подробнее
								include svg/arrow-more
					a.news-block__item(href="post.html")
						.news-block__pic
							img(src='img/s2.webp' alt='')
						.news-block__content
							span.news-block__date 12.08.2024
							span.news-block__title-sm Запись на новый учебный 2024-2025 год
							p.news-block__text Обсуждаем переход на новую систему записи через портал mos.ru. Команда столкнулась со сложностями, но готова помочь. Предлагается инструкция для облегчения процесса.
							button.btn-more Подробнее
								include svg/arrow-more
				.pagination 
					a(href="").pagination__current 01 
					a(href="") 02
					a(href="") 03