extends layout
block vars 
block main 
	main 
		.breadcrumbs 
			.container
				ul 
					li
						a(href="javascript:history.back()")
							span Назад 
					li 
						span /
					li 
						a(href="") Об образовательной организации
					li 
						span /
					li 
						soan Основные сведения
		section.section 
			.container 
				.article 
					.article__wrap 
						#target1.article__block.article__block--main
							h3.article__title Основные сведения
							p Сокращенное наименование организации – ГБУ ДО ЦТ «На Вадковском». Центр Творчества «На Вадковском» – многопрофильный разноуровневый образовательно-досуговый комплекс, решающий задачи дополнительного образования детей, подростков и молодежи.
							a.btn.btn--circle.btn--a Подробнее
								include svg/arrow-circle
						#target2.article__block 
							h3.article__title Дата и история основания
							.article__date 
								.article__date-item
									span 1976 — начало
									p Год создания. состоялось торжественное открытие нового здания Дома пионеров Свердловского района города Москвы в Вадковском переулке.
								.article__date-item
									span 1990
									p Дом пионеров Свердловского района был переименован в Центр творчества детей и молодежи Свердловского района г. Москвы
								.article__date-item
									span 1992
									p Учреждение было переименовано в Центр творчества «На Вадковском».
								.article__date-item
									span 2014
									p В состав Центра вошел Центр «Россия молодая», став структурным подразделением основного здания ЦТ «На Вадковском».
						#target3.article__block 
							h3.article__title сведения об учредителе
							p Город Москва, функции и полномочия учредителя осуществляет Департамент труда и социальной защиты населения города Москвы.
						#target4.article__block 
							h3.article__title Адрес организации и филиалов
							.article__block-address 
								.article__block-address-head 
									.article__block-address-col 
										span МЕСТОНАХОЖДЕНИЕ ОБРАЗОВАТЕЛЬНОЙ ОРГАНИЗАЦИИ:
										p 127055, г. Москва, Вадковский пер. д. 3.
									.article__block-address-col
										span МЕСТОНАХОЖДЕНИЕ ФИЛИАЛОВ:
										p Структурное подразделение «Россия молодая», 129110, г. Москва, Проспект мира д. 43
								p Учреждение работает ежедневно, включая субботу и воскресенье и <br> каникулярный период с 9.00 до 22.00.

						#target5.article__block 
							h3.article__title Контакты
							.article__block-contacts 
								.article__block-contacts-col 
									span Контактные телефоны:
									p 8 (499) 972-61-55 — директор
									p 8 (499) 972-62-37 — вахта
									p 8 (495) 681-03-65 — структурное подразделение
								.article__block-contacts-col
									span электронная Почта:
									p kir.polyansky@gmail.com (директор)
									p navadkovskom@social.mos.ru		
						#target6.article__block 
							h3.article__title Награды
							.article__awards 	
								.article__awards-block 
									h4.h4 Центр творчества «На Вадковском» является:
									ul.list-circle-pink 
										li Обладателем Гранта Москвы в сфере образования (2011), победителем в номинации «Центр» III Городского конкурса учреждений дополнительного образования, посвященного 90-ю государственной системы дополнительного (внешкольного) образования (2008);
										li Дипломантом III Всероссийского конкурса учреждений дополнительного образования детей (2008).
								.article__awards-block 
									h4.h4 Среди творческих объединений Центра:
									ul.list-circle-pink
										li Ведущий творческий коллектив г. Москвы;
										li Образцовый детский коллектив; Обладатель премии «Девочка на шаре»;
										li Образцовый детский коллектив;
										li Обладатель премии «Девочка на шаре»;
										li Лауреаты и дипломанты Городских, Всероссийских и Международных конкурсов, фестивалей, выставок.
								.article__awards-block 
									h4.h4 Награды в 2017 году:
									ul.list-circle-pink
										li Коллектив Центра творчества был награжден Почетной грамотой Департамента труда и социальной защиты населения города Москвы.
								.article__awards-block 
									h4.h4 Награды в 2019 году:
									ul.list-circle-pink
										li Коллектив Центра творчества был награжден Почетной грамотой Департамента труда и социальной защиты населения города Москвы
										li Победитель Городского смотр-конкурса “Город для всех” и был награжден Дипломом Правительства Москвы
										li Лауреат в номинации “Лучшая организация дополнительного образования детей и взрослых – 2019” в рамках Всероссийского конкурса “500 лучших образовательных организаций страны – 2019”.
								.article__awards-block 
									span Награды в 2021 году:
									ul.list-circle-pink
										li Лауреат в номинации “Лучший центр детского творчества” Всероссийского конкурса “Образовательная организация XXI века. Лига лидеров – 2021” в рамках V Всероссийской конференции “Парадигма инновационной системы образования: будущее рождается сегодня”.
								.article__awards-block 
									span Награды в 2022 году:
									ul.list-circle-pink
										li Лауреат в номинации “Лучшая организация дополнительного образования детей и взрослых – 2022” в рамках Всероссийского конкурса “500 лучших образовательных организаций страны – 2022” IV Всероссийского педагогического съезда “Моя Москва”.
						#target7.article__block 
							h3.article__title ОБРАЗОВАТЕЛЬНАЯ ДЕЯТЕЛЬНОСТЬ
							h4.h4 В Центре творчества В 2023-2024 учебном году обучалось 4807 детей в возрасте от 3 до 18 лет, из них:
							ul.list-circle-pink
								li 4336 занимаются на бюджетной основе и 471 за счет родительских средств;
								li 3318 уникальные дети, из них: на бюджете – 3064, на платной основе – 254;
								li 654 обучающихся являются детьми с ОВЗ и инвалидностью.
							p Образовательная деятельность ведется в 142 творческих объединениях по всем направленностям дополнительного образования. Реализуются 206 общеразвивающих программ.
							p Уровень результативности обучения по дополнительным общеразвивающим программам определяется, в частности, итогами участия в конкурсных мероприятиях
							h4.h4 В 2023-2024 учебном году в различных турнирах, фестивалях, олимпиадах, выставках и пр. приняли участие более 2500 человек (в том числе учащиеся с ОВЗ и инвалидностью), из которых 2113 признаны лауреатами и дипломантами конкурсов различного уровня, в том числе:
							ul.list-circle-pink
								li 336 – муниципальных;
								li 639 – федеральных;
								li 1138 – международных
						#target8.article__block 
							h3.article__title ОКАЗАНИЕ ПСИХОЛОГИЧЕСКОЙ ПОМОЩИ
							p Психологическая служба ЦТ «На Вадковском» более 20 лет осуществляет психологическое сопровождение образовательного процесса. Деятельность психологической службы направлена на создание предпосылок, обеспечивающих формирование и сохранение психического и психологического здоровья обучающихся Центра, и создание комфортной образовательной среды для всех участников образовательного процесса.
							h4.h4 В 2023-2024 учебном году психологической службой учреждения было оказано 4278 услуг обучающимся, родителям и педагогам центра, в том числе:
							ul.list-circle-pink 
								li индивидуальное и семейное психологическое консультирование – 1753 услуг;
								li профессиональная ориентации обучающихся (тестирование и консультации по результатам тестирования обучающимся и родителям обучающихся) – 169 услуг;
								li индивидуальные коррекционно-развивающие занятия с детьми ОВЗ – 324 услуги;
								li психологическое просвещение (тренинги, семинары) – 54 услуги;
								li групповая работа с обучающимися – 1438 услуга;
								li сопровождение детей с ОВЗ на занятиях в объединениях Центра – 540 услуг.
						#target9.article__block 
							h3.article__title ОРГАНИЗАЦИЯ И ПРОВЕДЕНИЕ СОЦИАЛЬНО-ЗНАЧИМЫХ МЕРОПРИЯТИЙ
							p В 2023-2024 учебном году было проведено 220 мероприятий, из них в очном формате и в дистанционном.
						#target10.article__block 
							h3.article__title ДЕЯТЕЛЬНОСТЬ МЕТОДИЧЕСКОЙ СЛУЖБЫ ЦЕНТРА
							p Психологическая служба ЦТ «На Вадковском» более 20 лет осуществляет психологическое сопровождение образовательного процесса. Деятельность психологической службы направлена на создание предпосылок, обеспечивающих формирование и сохранение психического и психологического здоровья обучающихся Центра, и создание комфортной образовательной среды для всех участников образовательного процесса.
							h4.h4 Методической службой ЦТ «На Вадковском» в 2024 году было проведено 120 методических мероприятий (общий охват – 1657 человек), в том числе:
							ul.list-circle-pink 
								li 1 конференция;
								li 1 курсы повышения квалификации Центра охраны труда;
								li 1 круглый стол;
								li 46 семинаров;
								li 12 открытых занятий педагогического сообщества для специалистов организаций ДТСЗН;
								li 192 мастер-класса (в том числе для ветеранов Геронтологического центра “Левобережный”, СРЦ им. В.Г.Михайлова, для Центра поддержки семей мобилизованных; МДГКБ; для специалистов организаций ДТСЗН; для методистов и педагогов ЦТ “На Вадковском”)
								li 541 психокоррекционных занятий с детьми из Морозовской Детской Городской Клинической Больницы (далее МДГКБ);
								li 320 психологических консультаций родителей;
								li 411 семейных консультаций;
								li 238 групповых развивающих занятий для детей, находящихся на лечении в
								li МДГКБ;
								li 42 интервизии для специалистов, работающих в МДГКБ;
								li 3 семейных выездных программы для детей с онкозаболеваниями, их родителей и сиблингов. Общий охват участников составил 124 человек.

					.aside
						h3.aside__title Основные сведения
						a.aside__link(href="#target1") Основные сведения
						a.aside__link(href="#target2") История создания
						a.aside__link(href="#target3") Об учредителе
						a.aside__link(href="#target4") Адрес организации и филиалов
						a.aside__link(href="#target5") Контакты
						a.aside__link(href="#target6") Наши награды
						a.aside__link(href="#target7") Образовательная деятельность
						a.aside__link(href="#target8") Оказание псиологической помощи
						a.aside__link(href="#target9") ОРГАНИЗАЦИЯ И ПРОВЕДЕНИЕ СОЦИАЛЬНО-ЗНАЧИМЫХ МЕРОПРИЯТИЙ  
						a.aside__link(href="#target10") Деятельность методической службы центра