doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Document
	body 

		ul(style="display: flex; flex-direction: column; gap: 24px; font-size: 24px;")
			li
				a(href="index.html") Главная 
			li
				a(href="podrostkam.html") Подросткам 
			li
				a(href="about.html") О центре
			li 
				a(href="information.html") Об образовательной организации 
			li
				a(href="osnovnye-svedeniya.html") Типовая для карточек "Сведения об организации"
			li
				a(href="obedineniya.html") Объединения
			li
				a(href="card.html") Объединение внутри
			li
				a(href="contests.html") Конкурсы и фестивали
			li
				a(href="clubs.html") Наши клубы
			li
				a(href="raspisanie.html") Расписание
			li
				a(href="staff.html") Наши сотрудники
			li
				a(href="card-single.html") Карточка отдельного сотрудника
			li
				a(href="events.html") План мероприятий
			li
				a(href="pedagogu-centra.html") Педагогу центра
			li 
				a(href="moscovscoe-dolgoletie.html") Московское долголетие
			li
				a(href="news.html") Новости
			li
				a(href="post.html") Страница записи
			li
				a(href="documents.html") Документы
			li 
				a(href="anonsi.html") Анонсы мероприятий