:root {
	--color-black: #000000;
	--color-grey: #5D667D;
	--color-blue: #244A91;
	--color-light-blue: #ABB8DA;
	--color-pink-text: #F3AADB;
	--color-pink: #EE7CC9;
	--color-violet: #9FACCE;
	--color-date: #ADB6CD;
	--color-text-nav: #B5C2E4;
	--color-green: #94D388;
	--color-yellow: #F5C356;
}

:hover {
	transition: 0.3s all;
}

*,
*::before,
*::after {
	border: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	color: var(--color-black);
	background-color: #F1F3F7;
	font-family: Jost, 'sans-serif';
	line-height: 1.2;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

.container {
	max-width: calc(1280px + 32px);
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
}

.--r120 {
	position: relative;
	margin-bottom: 0 !important;
	padding-bottom: 220px;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 120px;
		border-radius: 120px 120px 0 0;

		@media(max-width: 767px) {
			border-radius: 40px 40px 0 0;
			height: 40px;
		}
	}
}

.--r120-blue {
	&:before {
		background-color: var(--color-blue);
	}
}

.--r120-white {
	&::before {
		background-color: #F1F3F7;
	}
}

input {
	outline: none;
}
