<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_447_2491)">
<rect width="40" height="40" rx="12" fill="#F1F3F7"/>
<path d="M27.9995 23.9791V26.3877C28.0004 26.6113 27.9545 26.8327 27.8648 27.0375C27.775 27.2424 27.6434 27.4263 27.4783 27.5775C27.3132 27.7286 27.1183 27.8437 26.906 27.9154C26.6938 27.987 26.4689 28.0136 26.2457 27.9935C23.7702 27.725 21.3923 26.8808 19.3031 25.5286C17.3594 24.2959 15.7114 22.6512 14.4763 20.7113C13.1167 18.6168 12.2706 16.2321 12.0065 13.7504C11.9864 13.5283 12.0129 13.3046 12.0842 13.0933C12.1555 12.882 12.2701 12.6879 12.4206 12.5233C12.5712 12.3586 12.7545 12.2271 12.9589 12.137C13.1632 12.0469 13.3841 12.0003 13.6074 12.0001H16.0209C16.4113 11.9962 16.7898 12.1342 17.0858 12.3883C17.3818 12.6424 17.5752 12.9952 17.6298 13.381C17.7317 14.1519 17.9206 14.9087 18.1929 15.6371C18.3012 15.9245 18.3246 16.2368 18.2604 16.5371C18.1963 16.8373 18.0472 17.1129 17.8309 17.3312L16.8092 18.3509C17.9545 20.3609 19.6221 22.0252 21.6361 23.1682L22.6578 22.1485C22.8765 21.9326 23.1527 21.7839 23.4535 21.7198C23.7544 21.6558 24.0673 21.6792 24.3552 21.7872C25.0851 22.059 25.8435 22.2476 26.6158 22.3492C27.0066 22.4042 27.3635 22.6007 27.6186 22.9012C27.8737 23.2017 28.0093 23.5853 27.9995 23.9791Z" fill="#244A91"/>
</g>
<defs>
<clipPath id="clip0_447_2491">
<rect width="40" height="40" fill="white"/>
</clipPath>
</defs>
</svg>
