<svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="80" height="80" rx="40" fill="white"/>
<path d="M33.3333 30.4038C33.3333 28.8064 35.1136 27.8536 36.4427 28.7397L50.8372 38.336C52.0246 39.1276 52.0246 40.8725 50.8372 41.6642L36.4427 51.2605C35.1136 52.1466 33.3333 51.1938 33.3333 49.5964V30.4038Z" fill="#244A91"/>
</svg>
