<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_184_1672)">
<path d="M0.5 19.2C0.5 14.6593 0.501052 11.3055 0.845581 8.73133C1.188 6.17295 1.86159 4.45893 3.15315 3.15397C4.46506 1.86163 6.18304 1.18799 8.74133 0.845581C11.3155 0.501051 14.666 0.5 19.2 0.5H20.8C25.3407 0.5 28.6946 0.501052 31.2687 0.845581C33.8271 1.18801 35.5411 1.86161 36.8461 3.15319C38.1384 4.46509 38.812 6.18306 39.1544 8.74133C39.4989 11.3155 39.5 14.666 39.5 19.2V20.8C39.5 25.3407 39.4989 28.6946 39.1544 31.2687C38.812 33.8271 38.1384 35.5411 36.8468 36.8461C35.5349 38.1384 33.8169 38.812 31.2587 39.1544C28.6845 39.4989 25.334 39.5 20.8 39.5H19.2C14.6593 39.5 11.3055 39.4989 8.73133 39.1544C6.17294 38.812 4.45892 38.1384 3.15395 36.8468C1.86162 35.5349 1.18799 33.817 0.845581 31.2587C0.501051 28.6845 0.5 25.334 0.5 20.8V19.2Z" fill="#FDFCF8" stroke="#F0EFE9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M9.04131 19.7972C14.8714 17.2407 18.7685 15.5884 20.7327 14.7778C26.2822 12.4707 27.4357 12.0654 28.1839 12.0342C28.3398 12.0342 28.714 12.0654 28.9634 12.2524C29.1504 12.4083 29.2128 12.6265 29.244 12.7824C29.2751 12.9383 29.3063 13.2813 29.2751 13.5618C28.9634 16.7107 27.6851 24.4114 26.9992 27.9344C26.7186 29.4309 26.1574 29.9297 25.6274 29.9921C24.4739 30.0856 23.5698 29.2127 22.4474 28.4956C20.7015 27.3421 19.7038 26.625 17.9891 25.5026C16.0249 24.1932 17.3032 23.4761 18.4256 22.3226C18.7062 22.0108 23.8504 17.3654 23.9439 16.929C23.9439 16.8666 23.9751 16.6795 23.8504 16.586C23.7256 16.4925 23.5698 16.5237 23.4451 16.5548C23.258 16.586 20.4521 18.4566 14.9961 22.1355C14.1855 22.6967 13.4684 22.9461 12.8137 22.9461C12.0966 22.9461 10.7249 22.5408 9.69603 22.1979C8.44895 21.7926 7.45129 21.5743 7.54482 20.8884C7.60717 20.5455 8.106 20.1714 9.04131 19.7972Z" fill="#244A91"/>
</g>
<defs>
<clipPath id="clip0_184_1672">
<rect width="40" height="40" fill="white"/>
</clipPath>
</defs>
</svg>
