<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_454_1151)">
<rect width="40" height="40" rx="12" fill="#F1F3F7"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M13.1054 19.0498C17.3943 17.0575 20.2612 15.7698 21.7062 15.1381C25.7887 13.3401 26.6373 13.0243 27.1878 13C27.3024 13 27.5777 13.0243 27.7611 13.1701C27.8988 13.2916 27.9446 13.4616 27.9676 13.5831C27.9905 13.7046 28.0134 13.9718 27.9905 14.1905C27.7611 16.6444 26.8208 22.6456 26.3162 25.3911C26.1098 26.5573 25.697 26.946 25.307 26.9946C24.4584 27.0675 23.7933 26.3872 22.9676 25.8284C21.6832 24.9294 20.9493 24.3706 19.6879 23.496C18.2429 22.4755 19.1833 21.9167 20.009 21.0177C20.2154 20.7748 23.9997 17.1546 24.0685 16.8145C24.0685 16.7659 24.0915 16.6201 23.9997 16.5472C23.908 16.4744 23.7933 16.4987 23.7016 16.5229C23.564 16.5472 21.4998 18.005 17.4861 20.872C16.8897 21.3093 16.3622 21.5037 15.8806 21.5037C15.3531 21.5037 14.3439 21.1878 13.587 20.9206C12.6696 20.6047 11.9357 20.4346 12.0045 19.9001C12.0503 19.6329 12.4173 19.3413 13.1054 19.0498Z" fill="#244A91"/>
</g>
<defs>
<clipPath id="clip0_454_1151">
<rect width="40" height="40" fill="white"/>
</clipPath>
</defs>
</svg>
