<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_184_1669)">
<path d="M0.5 19.2C0.5 14.6593 0.501052 11.3055 0.845581 8.73133C1.188 6.17295 1.86159 4.45893 3.15315 3.15397C4.46506 1.86163 6.18304 1.18799 8.74133 0.845581C11.3155 0.501051 14.666 0.5 19.2 0.5H20.8C25.3407 0.5 28.6946 0.501052 31.2687 0.845581C33.8271 1.18801 35.5411 1.86161 36.8461 3.15319C38.1384 4.46509 38.812 6.18306 39.1544 8.74133C39.4989 11.3155 39.5 14.666 39.5 19.2V20.8C39.5 25.3407 39.4989 28.6946 39.1544 31.2687C38.812 33.8271 38.1384 35.5411 36.8468 36.8461C35.5349 38.1384 33.8169 38.812 31.2587 39.1544C28.6845 39.4989 25.334 39.5 20.8 39.5H19.2C14.6593 39.5 11.3055 39.4989 8.73133 39.1544C6.17294 38.812 4.45892 38.1384 3.15395 36.8468C1.86162 35.5349 1.18799 33.817 0.845581 31.2587C0.501051 28.6845 0.5 25.334 0.5 20.8V19.2Z" fill="#FDFCF8" stroke="#F0EFE9"/>
<path d="M21.28 28.8135C12.16 28.8135 6.96 22.5735 6.74667 12.1735H11.3333C11.48 19.8002 14.84 23.0268 17.5067 23.6935V12.1735H21.8133V18.7468C24.44 18.4668 27.2133 15.4668 28.1467 12.1602H32.44C32.0899 13.8718 31.3906 15.493 30.3858 16.9222C29.381 18.3514 28.0922 19.5581 26.6 20.4668C28.2652 21.2957 29.7359 22.4681 30.9149 23.9068C32.0939 25.3455 32.9545 27.0179 33.44 28.8135H28.7067C27.6933 25.6535 25.16 23.2002 21.8133 22.8668V28.8135H21.2933H21.28Z" fill="#244A91"/>
</g>
<defs>
<clipPath id="clip0_184_1669">
<rect width="40" height="40" fill="white"/>
</clipPath>
</defs>
</svg>
