<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_444_6555)">
<path d="M0 19.2C0 10.1467 0 5.62667 2.8 2.8C5.64 0 10.16 0 19.2 0H20.8C29.8533 0 34.3733 0 37.2 2.8C40 5.64 40 10.16 40 19.2V20.8C40 29.8533 40 34.3733 37.2 37.2C34.36 40 29.84 40 20.8 40H19.2C10.1467 40 5.62667 40 2.8 37.2C0 34.36 0 29.84 0 20.8V19.2Z" fill="#244A91"/>
<path d="M20.7113 25C15.2448 25 12.1279 21.253 12 15.008H14.7493C14.8372 19.5877 16.8511 21.5252 18.4496 21.9255V15.008H21.031V18.9552C22.6054 18.787 24.2677 16.9856 24.8272 15H27.4006C27.1908 16.0278 26.7716 17.0013 26.1693 17.8595C25.567 18.7177 24.7945 19.4423 23.9001 19.988C24.8982 20.4857 25.7797 21.1897 26.4864 22.0536C27.1931 22.9176 27.709 23.9218 28 25H25.1628C24.5554 23.1025 23.037 21.6293 21.031 21.4291V25H20.7193H20.7113Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_444_6555">
<rect width="40" height="40" fill="white"/>
</clipPath>
</defs>
</svg>
